APP_NAME = CreditRiskModel
APP_VERSION = local


NAME_MODEL = "name_model.pickle"
version_model = "0.1"
ROC_AUC = 0.xx

FILE_ALLOWED_TYPES = ["text/plain", "application/xlsx"]
FILE_MAX_SIZE = 10 
FILE_DEFAULT_CHUNK_SIZE = 512000 # 500KB